@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin backgound-clip($clip) {
  -webkit-background-clip: $clip;
  -moz-background-clip: $clip;
  background-clip: $clip;
}

@mixin grid-1fr($rows, $columns, $gap){
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  gap: $gap;
}