@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-color: #f4f5f6; }

.origin {
  top: 50%;
  left: 50%;
  position: relative; }

.calculator-base {
  box-shadow: -6px -20px 35px #ffffff, -6px -10px 15px #ffffff, -20px 0px 30px #ffffff, 6px 20px 25px rgba(0, 0, 0, 0.2), 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
  margin: -225px -150px;
  height: 450px;
  width: 300px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; }

.calculator-pane {
  padding: 30px;
  height: 103%;
  width: 100%;
  transform: translateY(-3%);
  border-radius: inherit;
  box-shadow: inset 0px -8px 5px #dddddd, inset -5px -8px 5px 5px #dddddd;
  background-color: #f4f5f6; }
  .calculator-pane.front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px; }
  .calculator-pane > .calculator-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 150px;
    box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.1), 0 -4px 0 rgba(0, 0, 0, 0.1), inset 0 3px 0 -2px rgba(0, 0, 0, 0.2), inset 0px -5px 10px rgba(0, 0, 0, 0.1), inset 0px -1px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    text-align: end;
    padding: 20px;
    color: #888888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
    .calculator-pane > .calculator-display #output-input {
      font-size: 18px; }
  .calculator-pane .calculator-keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    height: 300px; }
    .calculator-pane .calculator-keys .calculator-key {
      font-family: "Roboto", sans-serif;
      font-size: 34px;
      width: 100%;
      height: 100%;
      background: #fbfbfb;
      border: 2px solid #888888;
      transition: .13s ease-in-out;
      cursor: pointer;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
      .calculator-pane .calculator-keys .calculator-key:active {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
        .calculator-pane .calculator-keys .calculator-key:active .calculator-key__content {
          box-shadow: inset 0px -1px 0px #dddddd, 0px -1px 0px #fbfbfb; }
          .calculator-pane .calculator-keys .calculator-key:active .calculator-key__content .calculator-key__text {
            transform: translate3d(0, -1px, 0); }
      .calculator-pane .calculator-keys .calculator-key__content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        transition: .13s ease-in-out;
        box-shadow: inset 0px -4px 0px #dddddd, 0px -4px 0px #fbfbfb; }
      .calculator-pane .calculator-keys .calculator-key__text {
        text-align: center;
        transform: translate3d(0, -4px, 0);
        color: transparent;
        background-color: #888888;
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        transition: .13s ease-in-out; }

#key-4 {
  grid-area: 2/1/3/2; }

#key-5 {
  grid-area: 2/2/3/3; }

#key-6 {
  grid-area: 2/3/3/4; }

#key-1 {
  grid-area: 3/1/4/2; }

#key-2 {
  grid-area: 3/2/4/3; }

#key-3 {
  grid-area: 3/3/4/4; }

#key-0 {
  grid-area: 4/1/5/2; }

#key-clear {
  grid-area: 1/4/2/6; }

#key-operate {
  grid-area: 4/4/5/6; }

#key-multiply {
  grid-area: 3/4/4/5; }

#key-divide {
  grid-area: 3/5/4/6; }

#key-add {
  grid-area: 2/4/3/5; }

#key-substract {
  grid-area: 2/5/3/6; }

#key-dot {
  grid-area: 4/2/5/3; }

/*# sourceMappingURL=style.css.map */
